{{ define "main" -}}
{{ if .Site.Params.light_dark }}
    {{ partial "light_dark.html" . }}
{{ end }}
<div class="post">
    {{ with .Site.GetPage "/about" }}
        {{ if .Pages }}
            {{ range .Pages }}
                <h1 class="post-title">{{ .Title }}</h1>
                {{ .Content }}
            {{ end }}
        {{ else }}
            <h1 class="post-title">{{ .Title }}</h1>
            {{ .Content }}
        {{ end }}
  {{ end }}
  <h2>Odznaky</h2>
  <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="8afd3eec-b9a8-4d26-b5eb-cd6c15a3e790" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
  <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="1e720db3-b15b-4115-932f-7f412f117b0d" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
    {{ if (.Site.Params.listmonk) }}
        {{ partial "post/listmonk_email_newsletters.html" . }}
    {{ end }}
</div>
{{ end }}
